*{
}

.texttaskbar{
font-size:1.5em;
color:#EEEEEE;
}

.taskbar{
position:absolute;
left:15%;
border:1px solid black;
height:5rem;
width:70%;
background-image:colorgradient.jpg;
border-radius:10px;
background-image:url(colorgradient.jpg);
z-index:1;
}

.taskbarbox{
position: relative;
float:right;
width:25%;
text-align:center;
height:5rem;
}

.image{
position:absolute;
background-image:url();
width: 50%;
height: 100%;
background-repeat: no-repeat;
}